@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row m-auto" >
            <div class="col-md-12 m-auto">
                <div class="row m-auto" >
                    <div class="col-md-4 m-auto stretch-card" >
                        <div class="card m-auto">
                            <div class="card-body m-auto" style="text-align:center">
                                <h1 class="font-weight-bold">Bienvenido de vuelta!</h1>
                                <h4 class="font-weight-normal mb-0">
                                    Skydash, su concesionario de confianza.
                                </h4>
                            </div>
                        </div>
                    </div>
                    
                        
                            
                                
                                <div class="card-people mt-auto">
                                    <img src="~/Template/images/pexels-daryl-johnson-13741317.jpg" style="height:60vh"/>
                                </div>
                            
                        
                    
                </div>
                
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <!-- partial -->
</div>